
node_modules
dist
private
test
*.o
CMakeFiles
libGooglePinyin/Makefile
libGooglePinyin/CmakeCache.txt
libGooglePinyin/cmake_install.cmake
libGooglePinyin/test*

src/model/model.old.ts

vscode
build
.vscode
dictbuilder